.gallery-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-img-container{
    margin-top:15px;
}
.gallery-img {
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;
}
