.nav-container{
    background-color: lightblue;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo{
    width: 100px;
    height:100px;
    display:flex;
    flex-direction: row;
}
.nav-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-link{
    list-style-type:none ;
    margin:0;
    padding:0;
    display: flex; 
    padding: 15px;
}

.menu-icon {
    display: none;
    font-size: 3em;
}

@media only screen and (max-width: 768px) {
    .menu-icon{
      display:block;
    }
    .nav-link {
        display: none;
    }
}